<div>
    
    <table width="40%" border="2" bgcolor="skyblue" align="center" cellspacing="3" cellpadding="5">
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
        <tr>
            <td>
              Employee ID
            </td>
            <td>
                {{EmpId}}
            </td>
        </tr>

        <tr>
            <td>
              Employee Name
            </td>
            <td>
                {{EmpName}}
            </td>
        </tr>

        <tr>
            <td>
              Employee Job
            </td>
            <td>
                {{EmpJob}}
            </td>
        </tr>
        <tr>
            <td>
              Employee Salary
            </td>
            <td>
                {{EmpSalary}}
            </td>
        </tr>
        <tr>
            <td>
              Employee Dept
            </td>
            <td>
                {{EmpDept}}
            </td>
        </tr>
     
    </table>
</div>
