<h2>Users</h2>
<style>
  .row
  {
      border: 1px solid goldenrod;
      border-radius : 10px;
      width : 150px;
      padding : 5px;
      text-align: center;
      margin: 15px;
      float:left;
      box-shadow: 5px 5px 2px black;
      background-color: cyan;
  }
  h4{
     color: brown;
   
  }
  .center{
        left: 100% !important;
  right: auto !important;
  text-align: center !important;
 
    }
</style>
<div class="center">
  <button  (click)="loadMore_click()" [disabled]="flag" float="left">Load More</button>
</div>
  <div class="row" *ngFor="let user of userArray | slice:start:end" >
  
  
             
            <h4><b> User Name :{{user.userName}}</b></h4>
            <p> User Mob. No : {{user.userMobNo}}</p>
            <p>User Date of Birth :{{user.userDateOfBirth}}</p>
            <p>User Gender: {{user.userGender}}</p>
            
          
        
        
   </div>
