<style>
    .c1
    {
        border: 1px solid gray;
        border-radius : 10px;
        width : 150px;
        padding : 5px;
        text-align: center;
        float: left;
        margin: 5px;
        box-shadow: 5px 5px 2px black;
    }
  </style>
  
  <div  class="c1">
    <h3 style="margin: 2px;color:Red;"> {{productObj.pid}} </h3>
    <u> Product Name :   {{productObj.pname}} </u>  <br/>
    Price : <span style="color:Green;"> {{productObj.price}} </span>   <br/>
    <a href="javascript:void(0)"  (click)="remove(productObj.pid)">Remove Product</a>
  </div>
