<!-- <h1 appTextStyle>Attribute Custom Directive Text</h1>
<h1 [appTextStyle]="'red'"> Attribute Custom Directive Text</h1>
<h1 [appTextStyle]="'blue'">Attribute Custom Directive Text</h1> -->



<h1>Div1</h1>
<div *appIsAdmin="'Scott'">
  
  <p>This Content is for Scott Admin</p>
</div> 


<h1>Div2</h1>
<div *appIsAdmin="'Smith'">
  
  <p>This Content is for Smith Admin</p>
</div> 
 <h1>Div3</h1>
<div *appIsAdmin="'Prcahi'">

  <p>This Content is for Prcahi Admin</p>
</div>

<h1>Div4</h1>
<div *appIsAdmin="'Robert'">
  
  <p>This Content is for Robert Admin</p>
</div> 