
  .fancy-card
  {
      border: 1px solid goldenrod;
      border-radius : 10px;
      width:auto;
      height:auto;

      text-align: center;
      margin: 15px;
      
   
      display: flex;
      justify-content: center;
      box-shadow: 5px 5px 2px black;
      background-color:grey;
    
  }
  .card{
    width:auto;
    height:auto;
    box-shadow: 5px 5px 2px black;
    border: 1px solid goldenrod;
    background-color:yellowgreen;
    margin: 15px;
      
  }

 

   
